.mainhead{
    justify-content: center;    
    display: flex;
    gap: 20px;
    margin-top: -50px;
}
.head1{
    
    font-size: 70px;
    font-weight: lighter;
    color: grey;
}
.head2{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 70px;
    font-weight: lighter;
    font-weight: 100;
   
}
.mail{
    justify-content: center;
    display: flex;
    margin-top: -70px;
}
.body{
    justify-content: center;
    display: flex;
    gap: 20px;
    padding:30px 30px 30px 50px;
}
.left{
    width: 35%;
    margin-top: -20px;
}
.right{
    width: 65%;
    margin-top: -20px;

}

